<div class="container">
    <div class="site-wrapper">
        <div class="row mt-3">
            <div class="col-sm-6">
                <input type="text" class="form-control" id="buscar" [(ngModel)]="filterProducts"
                    placeholder="Ingrese nombre del producto a buscar">
            </div>
            <div class="col-sm-6">
                <button type="button" class="btn btn-outline-primary float-button" (click)="ordenarAscendente()">Filtrar
                    Asc</button>
                <span></span>
                <button type="button" class="btn btn-outline-secondary float-button"
                    (click)="ordenarDescendente()">Filtrar Desc</button>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-sm-4" *ngFor="let item of this.listPructos | pipetransform: filterProducts">
                <div class="card" style="width: 18rem;">
                    <img [src]="item.logo" width="90px" height="180px" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{item.nombre}}</h5>
                        <p class="card-text">{{item.descripcion}}</p>
                        <button type="button" class="btn btn-outline-success float-button" (click)="navegarSubProductos(item)">
                            <span>Agregar <i class="far fa-plus-square"></i></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>